* {
    padding: 0;
    margin: 0;
    border: none;
}

.container {
    max-width: 980px;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.img-web {
    padding: 15px 0;
}

.link-web {
    width: 500px ;
    height: 60px ;
}

img {
    width: 100%;
}

.menu {
    padding: 10px 185px;
    margin: 30px 0 40px 0;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}

.nav-link {
    height: 60px;
    background-color: #888888;
    color: white;
    width: 15%;
    margin: 0 8px;
    padding: 15px 0; 
    text-align: center;
}

.nav-link:active {
    background-color: #6699FF;
}

.nav-link:hover {
    background-color: #6699FF;
    color: white;
}

.wrap-2 {
    background-image: url('./img/img1.png');
}

.title {
    width: 100%;
    background-color: blue;
    height: 40px;
    align-items: center;
}
.title > h2 {
    width: 1000px;
    padding-right: 680px;
    margin: auto;
    align-items: center;
    margin-top: 5px ;
}


.para-sky {
    background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg');
    height: 380px;
    width: 100%;
}

.logo-image {
    width: 300px;
    height: 130px;
    margin: auto;
    padding-top: 90px;
}

.title-bot {
    background-color: blue;
    border-radius: 3px;
    padding: 0 10px;
}

.img-bot {
    width: 440px !important;
}